# Mac OS files
.DS_Store
# history files
.Rhistory
.Rapp.history
# example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.pdf
inst/doc
.Rproj.user
doc
Meta
#docs
docs
# generate when checking vignette file
rmm_mx1.csv
# raster data
vignettes/climate