import("dismo", "methods", "parallel", "doParallel", "foreach")
importFrom("grDevices", "rainbow")
importFrom("raster", "cellStats", "extract", "nlayers", "aggregate", "stack")
importFrom("graphics", "abline", "arrows", "axis", "box", "par","plot")
importFrom("stats", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
exportClasses(
    "ENMevaluation" 
)
